.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      166deg,
      rgba(255, 255, 255, 1) 33%,
      rgba(180, 232, 240, 1) 58%,
      rgba(115, 196, 215, 1) 82%,
      rgba(64, 168, 189, 1) 100%
    );

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
